---
title: Résumé
layout: cv
---

<nav class="card table-of-contents">
  <h2 class="card__title">Looking for something?</h2>
    <div class="tag-container">
      <a class="tag-container__tag" href="#contact">Contact</a>
      <a class="tag-container__tag" href="#summary">Summary</a>
      <a class="tag-container__tag" href="#experience">Experience</a>
      <a class="tag-container__tag" href="#testimonial-1">Testimonials</a>
      <a class="tag-container__tag" href="#education">Education</a>
      <a class="tag-container__tag" href="#projects">Projects</a>
      <a class="tag-container__tag" href="#featured-posts">Featured posts</a>
      <a class="tag-container__tag" href="#more-experience">More experience</a>
      <a class="tag-container__tag" href="#testimonial-2">More testimonals</a>
    </div>
</nav>

<section id="contact" class="card contact">
  <h2 class="card__title">Contact me</h2>
  <div class="card__content">
    <div class="tag-container">
      <a href="mailto:westley.stood549@passmail.net" target="_blank" class="tag-container__tag tag-container__tag--social">Email me</a>
      <a href="https://www.linkedin.com/in/westley-winks" class="tag-container__tag--social tag-container__tag" target="_blank">LinkedIn</a>
      <a href="https://github.com/Westley-Winks" class="tag-container__tag--social tag-container__tag" target="_blank">GitHub</a>
      <p>Kryptor: Cu//ZNWSQpZ5PQAbDPEIEWMxIl3Z1uF0I+CzcE7H/B8Ggjc=</p>
    </div>
  </div>
</section>

<section id="summary" class="card summary">
  <h2 class="card__title">Summary</h2>
  <div class="card__content">
    <%= markdownify do %>
      My name is **Westley Winks.** With a wide-ranging background in engineering, cross-cultural competence, coding, and personal writing, I am passionate about putting people and communities first while designing **technical solutions to social problems.**
    <% end %>
  </div>
</section>

<section id="experience" class="card experience">
  <h2 class="card__title">Recent experience</h2>
  <div>
    <div class="info-block">
      <div>
        <h3>Peace Corps</h3>
        <p>Youth Development Specialist Volunteer</p>
      </div>
      <div>
        <p>September 2022 – Present</p>
        <p>Marrakech-Safi, Morocco</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Facilitated a 2-day digital literacy for women's economic empowerment workshop for 20 participants, developing and implementing over 4 hours of training sessions. Co-wrote and utilized funds from a $7,000 grant. Wrote project completion reports for both my team and management to communicate project takeaways clearly and effectively to different audiences.
        - Utilized Python to aggregate national weather data and write an informal weather report for 40 colleagues every week. [Automated the process](https://github.com/Westley-Winks/weather-reports) to generate reproducible reports and visually effective charts, saving time each week. Paired with motivational content to enhance group cohesion and morale.
        - Developed and delivered an interactive Python curriculum, teaching basic coding skills to 12 youth over 6 sessions. Researched and installed a local software application on all the computers because internet was unavailable. Used presentation software to create clear visual materials while demonstrating and explaining computer concepts in Arabic.
        - Led a personal and professional soft skills program with a local counterpart for 31 local youth over the course of 3 months. Proactively identified culturally inappropriate lessons and modified the curriculum activities accordingly. Sessions were conducted twice a week with an average class size of 18 participants aging 18–29 years old.
        - Led digital literacy sessions for 56 second chance students over a 2-day workshop. Introduced participants to topics such as online safety, misinformation, file management, and Microsoft Office.
        - Created a poster and explained an organizational mission to stakeholders and management in English and Arabic. Answered questions during the presentation to clarify information.
        - Wrote over [12,000 words](/peace-corps/) worth of stories about Moroccan culture for an American audience and posted them on my website. Documented how I use [various](/p/brag-document-as-a-pcv/) [tools](/p/obsidian-pcv/) and [workflows](/p/notebook-workflow/) in my work and shared them with colleagues to improve their work tasks.
        - Created content and visuals for three 5-minute training videos using animation and video editing software. Worked with staff to understand project requirements and expectations. Videos were used as part of training curriculum for incoming Volunteer cohorts.
        - Facilitated communication between staff and Volunteers as a selected safety warden for my region. Assisted with consolidating 7 Volunteers after an earthquake hit the region by organizing and sharing information appropriately.
      <% end %>
    </div>
  </div>
</section>

<section id="testimonial-1" class="card testimonial testimonial--1">
  <h2 class="card__title">Testimonials</h2>
  <div>
    <blockquote>
      Westley you are such a gift to any organization or team.  
      <cite>Alexis Garcia, Director of Programming and Training Peace Corps Morocco</cite>
    </blockquote>
    <blockquote>
      I wanted to extend my heartfelt thanks to you Westley and the entire Multimedia Committee for the outstanding work on these videos. Your creativity, dedication, and attention to detail have truly shone through in each one of them.  
      <cite>Houcine Lakhchach, Training Specialist Peace Corps Morocco</cite>
    </blockquote>
    <blockquote>
      This is why I’m so grateful to have you on the team and that you always voice your honest opinion. You not only bring great ideas, positive energy, and different skills to the team, but some essential balance. So thank you again for all you do and for your patience.  
      <cite>Emilie Barnes, Peace Corps Volunteer Morocco 2022–2024</cite>
    </blockquote>
  </div>
</section>

<section id="education" class="card education">
  <h2 class="card__title">Education</h2>
  <div>
    <div class="info-block">
      <div>
        <h3>Oregon State University</h3>
        <p>B.S. Chemical Engineering</p>
      </div>
      <div>
        <p>June 2021</p>
        <p>Corvallis, OR</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - **GPA:** 3.79 / 4.00
        - **Honors:** _Magna Cum Laude_, Honor's Roll, Dean's List
        - **Capstone project:** [Pyrolysis of Hazelnut Shells](https://events.engineering.oregonstate.edu/expo2021/project/feasibility-study-investigating-conversion-hazelnut-shells-high-quality-biochar)
          - Designed a process to create biochar from hazelnut shells and recycle the excess energy into an upstream process. Used **Aspen Plus** and **MatLab** to model energy flows in a pyrolysis process. Performed calculations by hand to sanity-check the simulation.
        - Member of Engineers Without Borders Cambodia team designing a water filtration system.
      <% end %>
    </div>
  </div>
</section>

<section id="projects" class="card projects">
  <h2 class="card__title">Projects</h2>
  <div>

    <div class="info-block">
      <div>
        <h3>pcvlink</h3>
        <p>Ruby on Rails, Sass, SQLite</p>
      </div>
      <div>
        <p>July 2024 – Present</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Created an online solution for connecting members of the Peace Corps community by independently developing and launching a [link-sharing platform](https://pcvl.ink) over a summer.
      <% end %>
    </div>

    <div class="info-block">
      <div>
        <h3>Personal Website</h3>
        <p>Ruby, Sass, HTML, Markdown</p>
      </div>
      <div>
        <p>December 2021 – Present</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - You're looking at it. I made *all* of this by hand using a static site generator and hand-rolled Sass for styling.
        - I [write](/p/) blog posts, essays, [book notes](/b/), and [weekly notes](/w/) summarizing my week. Code is [shared publicly.](https://github.com/Westley-Winks/website-bridgetown)
      <% end %>
    </div>

    <div class="info-block">
      <div>
        <h3>Until It's Not Fun Newsletter</h3>
        <p>Go, Python, JavaScript, Markdown</p>
      </div>
      <div>
        <p>April 2022 – July 2022</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Wrote a technical article each week and sent it via email to a non-technical audience. Published 16 [public posts](https://untilitsnotfun.com/posts/) in total.
        - Coded website [from scratch.](https://github.com/Westley-Winks/until-its-not-fun-newsletter) Wrote scripts in Python and [JavaScript](https://github.com/Westley-Winks/paperboy) to automate posting to the website and delivering the email each week. Maintained all newsletter software.
      <% end %>
    </div>

  </div>
</section>

<section class="card testimonial testimonial--3">
  <blockquote>
    I have had the pleasure of becoming close with Westley over the last decade or so, and he is truly a high performer in all aspects of his life. His academic achievements speak for themselves, but more importantly, his service to his fellow human sets the kind of example that we should all hope to pursue.  
    <cite>Ben McLane, US Forest Service Fire Response Captain</cite>
  </blockquote>
</section>

<section id="featured-posts" class="card latest">
  <h2 class="card__title">
    Featured posts
</h2>
  <ul class="latest-posts-list">
    <% all_pages = site.resources %>
    <% featured_posts = ["Not Even Water?", "heyjohn: A Vision For A Better Social Media", "How I Rebuilt My Website with Bridgetown", "The Weddings"] %>
    <% posts = all_pages.select { |page| featured_posts.include?(page.data.title) } %>
    <% posts.sort_by! { |post| post.date.to_date }.reverse! %>
    <% posts.each do |post| %>
      <li class="latest-posts-list__item">
        <h3 class="latest-posts-list__item-title">
          <%= link_to post.data.title, post.relative_url, class: "latest-posts-list__item-title" %>
        </h3>
        <time class="latest-posts-list__date" datetime="<%= post.date %>">
          <%= post.date.to_date %>
        </time>
      </li>
    <% end %>
  </ul>
</section>

<section id="more-experience" class="card more-experience">
  <h2 class="card__title">More experience</h2>
  <div>

    <div class="info-block">
      <div>
        <h3>Self-employed</h3>
        <p>Data Analysis and Technical Freelancer</p>
      </div>
      <div>
        <p>September 2021 – January 2022</p>
        <p>Powell Butte, OR</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Utilized Python to aggregate data from various social media platforms, process the data, and generate interactive reports of important metrics and statistics. Shared reports with management to inform social media strategy.
        - Built scripts to automate daily administrative tasks in the team’s productivity software using Python to save team time every morning.
        - Wrote 43-page manual of standard operating procedures for technical tasks around a filming studio. Manual was used as a training guide for new hires.
        - Recorded and edited podcast episodes and other visual content using Final Cut Pro. Videos were uploaded to organization social media channels and viewed by hundreds of people.
        - Created a [year-end report](https://1017project.com/wp-content/uploads/2021/12/1017-Year-End-Report.pdf) by using R Studio to generate plots and charts from given data. Compiled these charts with photos and copy before being given to stakeholders.
      <% end %>
    </div>

    <div class="info-block">
      <div>
        <h3>HP</h3>
        <p>Reliability Engineering Intern</p>
      </div>
      <div>
        <p>June 2020 – April 2021</p>
        <p>Corvallis, OR</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Aggregated global weather data from public databases using Python. Created a model from that data to analyze the temperature conditions that products experience during shipment to inform product testing procedures. Presented visual model results clearly and concisely.
        - Designed experiments to mathematically model how printer cartridges are affected by being dropped. Performed survival analysis on results using JMP statistical software to determine how likely a cartridge is to survive being dropped. Used Finite Element Analysis (FEA) software to simulate real-world impact between two objects.
        - Presented project findings to stakeholders and management at virtual project fair.
      <% end %>
    </div>

    <div class="info-block">
      <div>
        <h3>Kforce Inc.</h3>
        <p>Chemical Technician</p>
      </div>
      <div>
        <p>May 2019 – May 2020</p>
        <p>Corvallis, OR</p>
      </div>
    </div>
    <div>
      <%= markdownify do %>
        - Performed laboratory tests on experimental printer inks. Followed standard operating procedures on lab equipment to measure physical and chemical properties. Recorded measurements and analyzed the data in MS Excel. Organized data and reports for senior staff.
        - Safely and efficiently completed common laboratory tasks such as titrations, making solutions, and using glassware.
      <% end %>
    </div>
  </div>
</section>

<section id="testimonial-2" class="card testimonial testimonial--2">
  <h2 class="card__title">More kind words</h2>
  <blockquote>
    Apart from being a great writer about his interactions in the offline world, Westley is also a kind teacher, and <a href="/p/creating-something/">his submission</a> for this month’s Carnival is a great journey into how his website was rebuilt using Astro. Thank you, Westley!  
    <cite>
      <a href="https://andrei.xyz/post/indieweb-carnival-june-2024-diy-something-from-nothing-submissions-roundup/#creating-somethinghttpswwinkscomwritingcreating-something-by-westley-winkshttpswwinkscom">Andrei,</a> Web Designer</cite>
  </blockquote>
  <blockquote>
    Westley single handedly made me feel less alone this summer with this.  
    <cite>Sam Lacey, Peace Corps Volunteer Morocco 2022–2024, about weekly weather reports</cite>
  </blockquote>
  <blockquote>
    Hey Westley! Loving Morocco so far. Have met some people from your [cohort] and I just want you to know that you are so loved and respected!  
    <cite>Ludan Ahmed, Peace Corps Volunteer Morocco 2024–2026</cite>
  </blockquote>
</section>
