---
title: Westley Winks
layout: index
---

<section class="card latest">
  <h2 class="card__title">
    Latest posts
</h2>
  <a href="/feed.xml" class="icon-tabler-rss">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      <path d="M4 4a16 16 0 0 1 16 16" />
      <path d="M4 11a9 9 0 0 1 9 9" />
    </svg>
  </a>
  <ul class="latest-posts-list">
    <% posts=collections.b.resources + collections.p.resources + collections["peace-corps"].resources + [collections.w.resources.first] %>
    <% posts.sort_by! { |post| post.date.to_date }.reverse! %>
    <% posts[0...6].each do |post| %>
      <li class="latest-posts-list__item">
        <h3 class="latest-posts-list__item-title">
          <%= link_to post.data.title, post.relative_url, class: "latest-posts-list__item-title" %>
        </h3>
        <time class="latest-posts-list__date" datetime="<%= post.date %>">
          <%= post.date.to_date %>
        </time>
      </li>
    <% end %>
  </ul>
  <div class="kofi-container">
    <a class="kofi-button" href="https://ko-fi.com/wwinks">
      <span>
        <img alt="Ko-fi donations" src="/assets/kofi_symbol.png">
        Buy me a coffee
      </span>
    </a>
  </div>
</section>

<section class="card recent-links">
  <h2 class="card__title">Recent links</h2>
  <div class="card__content">
    <%= markdownify do %>
      - [Why Corporate America Should Hire Returned Peace Corps Volunteers](https://mypivot.substack.com/p/why-private-sector-employers-should) by Wayan Vota. Hey, that's me! I do highly believe all of these reasons but the hard part is convincing employers that I do, in fact, have those skills.
      - [Humble Accountability](https://wildfirelessons.wpcomstaging.com/2025/05/20/humble-accountability/) by Ben McLane. Treat those you lead with compassion and empathy to build trust. The benefits both inside and outside the organization are huge.
      - [Changing Directions](https://jacobian.org/2025/jun/3/changing-directions/) by Jacob Kaplan-Moss. I, too, have always wanted my career to make the world a better place.
      - [Can accessibility be whimsical?](https://goodinternetmagazine.com/can-accessibility-be-whimsical/) by Sara Joy. Much like how your home doesn't have Braille labels or a ramp instead of stairs, it's ok to not have a 100% WCAG-compliant website. Little by little, add accessibility where it matters.
      - [Self-hosting your own media considered harmful (updated)](https://www.jeffgeerling.com/blog/2025/self-hosting-your-own-media-considered-harmful-updated) by Jeff Geerling. Apparently, YouTube doesn't like it when you make videos about streaming your own media.
      - [Self-Host & Tech Independence: The Joy of Building Your Own](https://www.ssp.sh/blog/self-host-self-independence/) by Simon Späti. Own more of your digital life, little by little.
      - [Owls in Towels](https://owlsintowels.org/). Exactly what it says on the tin plus information about how to help owls.
      - [Unsure Calculator](https://filiph.github.io/unsure/) by Filip Hráček. A calculator based on probabilities and ranges instead of discrete values.
      - [Close to the metal: web design and the browser](https://goodinternetmagazine.com/close-to-the-metal-web-design-and-the-browser/) by Ovi Demetrian Jr. Browsers can do a lot of useful, accessible things these days. Most things on the internet can be done with HTML, CSS, and a sprinkling of JavaScript.
      - [DOGE Days](https://sahillavingia.com/doge) by Sahil Lavingia. An interesting story from the inside of a software engineering working for DOGE.
      <% end %>
  </div>
</section>

<section id="contact" class="card elsewhere">
  <h2 class="card__title">Elsewhere</h2>
  <div class="card__content">
    <div class="tag-container">
      <a href="https://signal.me/#eu/p8gGgF-u3RiUKNbiiaFd7xwOGpLyHktakmV3Efy0WKQOKNrJ43ZCBbopuAhOFuKm" target="_blank" class="tag-container__tag tag-container__tag--social">Signal</a>
      <a href="mailto:westley.stood549@passmail.net" target="_blank" class="tag-container__tag tag-container__tag--social">Email</a>
      <a href="https://social.lol/@ww" class="tag-container__tag--social tag-container__tag" target="_blank">Mastodon</a>
      <a href="https://www.linkedin.com/in/westley-winks" class="tag-container__tag--social tag-container__tag" target="_blank">LinkedIn</a>
      <a href="https://github.com/Westley-Winks" class="tag-container__tag--social tag-container__tag" target="_blank">GitHub</a>
      <a href="https://matrix.to/#/@ww:omg.lol" class="tag-container__tag--social tag-container__tag" target="_blank">Matrix</a>
      <a href="https://discourse.32bit.cafe/" class="tag-container__tag tag-container__tag--social">32-Bit Cafe</a>
      <a href="https://ww.omg.lol/" class="tag-container__tag tag-container__tag--social">omg.lol</a>
    </div>
  </div>
</section>

<section class="card tags">
  <h2 class="card__title">Browse tags</h2>
  <div class="card__content">
    <div class="tag-container">
      <% site.tags.keys.each do |tag| %>
        <%= link_to tag, "/t/#{tag}" , class: "tag-container__tag tag-container__tag--home" %>
          <% end %>
    </div>
</section>

<section class="card about">
  <h2 class="card__title">Who am I?</h2>
  <div class="card__content">
    <p>
      My name is Westley Winks. I try to live my life with integrity by committing to these core values, even when it's uncomfortable:
    </p>
    <ul>
      <li>
        <strong>Learning humbly.</strong> Pursuing and practicing new skills and knowledge that serve my goals, my interests, and other people. Doing it humbly means embracing a beginner's mindset, admitting when I am wrong or don't know, and understanding that I can always learn something from others.
      </li>
      <li>
        <strong>Serving compassionately and reliably.</strong> Helping others, supporting them and nurturing their growth when and how <em>they</em> need it. Doing it compassionately means leading with empathy, taking care of myself, and remaining other-focused rather than transactional. Being reliable is continually building trust with myself and others that I will do what I say I'm going to do.
      </li>
      <li>
        <strong>Connecting authentically.</strong> Investing in meaningful relationships while participating in and adding value to important things that are larger than myself. Being authentic means choosing truth over performance, not sacrificing my values or identity to fit in, and being my true self in any engagement with myself or others.
      </li>
    </ul>
  </div>
</section>

<section class="card colophon">
  <div>
    <h2 class="card__title">Colophon</h2>
      <%= markdownify do %>
        - [Alessandro Muraro](https://alexmuraro.me/) - design inspiration
        - [Bridgetown](https://bridgetown.com) - static site generator
        - [SCSS](https://sass-lang.com/) - styling
        - [Open Props](https://open-props.style/) - CSS variables
        - [Netlify](https://www.netlify.com/) - hosting
        - [Zach Leatherman](https://github.com/zachleat/snow-fall/) - snow fall
        <% end %>
  </div>
  <div class="badge-container">
    <a href="https://notbyai.fyi" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/not-by-ai.svg"
        alt="Written by Human, Not by AI"
      />
    </a>
    <a href="https://32bit.cafe/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/32bit-cafe-badge.png"
        alt="32-Bit Cafe Badge"
      />
    </a>
    <a href="https://ww.omg.lol/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/omglol-badge.png"
        alt="omg.lol"
      />
    </a>
    <a href="https://en.pronouns.page/he" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/pronouns-badge.png"
        alt="he/him"
      />
    </a>
    <a href="/feed.xml" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/feed-badge.gif"
        alt="Subscribe to RSS feed"
      />
    </a>
  </div>
</section>
