---
title: Westley Winks
layout: index
---

<section class="card card--recent-links">
  <h2 class="card__title">Recent links</h2>
  <div class="card__content">
    <%= markdownify do %>
      - [The skill of allyship](https://recipesforwellbeing.substack.com/p/the-skill-of-allyship) by Recipes For Wellbeing.
      	> Allyship is not about saviourism or paternalism. Rather, it’s about using your privilege to open doors, to challenge discriminatory policies and practices, and to advocate for systemic change. It’s about being willing to **take risks, face backlash, and leverage your social and political capital for justice.**
      - [Know how you'll end your presentation](https://gilest.org/end.html) by Giles Turnbull. Don't fizzle out of a presentation with "and, um, yeah that's pretty much it." Let your audience know, clearly, when your presentation has ended. I just finished reading Turnbull's book and I've been enjoying reading around his website for more communication nuggets.
      - [Modern apologies](https://seths.blog/2024/09/modern-apologies/) by Seth Godin.
      	> “Sorry” doesn’t have to be an admission of guilt or acceptance of fault. It could simply be the kind way one human acknowledges to another human that things aren’t ideal right now.
      - [What Came First?](https://artsandculture.google.com/experiment/what-came-first/ZQGBUPErEE3bVg) by Google Arts & Culture. Fun game which made it very clear that I don't know very much about history or culture. It gives you two cultural artifacts and you decide which came first. After you choose, you get a little snippet of info for each one which is a nice way to learn.
      - [All on the table](https://everythingchanges.us/blog/all-on-the-table/) by Mandy Brown at everything changes. I love everything Brown writes and this was no exception.
      	> "It is a fundamentally different experience to negotiate an exchange of funds with a living, breathing, person versus with a mindless, unconscious organization. It’s more vulnerable and personal, and there’s more on the table than just cash."
      - [Your brain is biased by default. Here's how to reset it. \| David Eagleman](https://www.youtube.com/watch?v=6L9UHONpSfM) by Big Think. People don't experience reality in the same way. We can expand our worldviews and internal models by traveling and interacting with others. Understanding our biases towards people in out-groups is a good way to counteract them.
      <% end %>
  </div>

</section>

<section class="card card--latest">
  <h2 class="card__title card__title--latest">
    Latest posts
</h2>
  <a href="/feed.xml" class="icon-tabler-rss">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      <path d="M4 4a16 16 0 0 1 16 16" />
      <path d="M4 11a9 9 0 0 1 9 9" />
    </svg>
  </a>
  <ul class="latest-posts-list">
    <% posts=collections.b.resources + collections.p.resources + collections["peace-corps"].resources + [collections.w.resources.first] %>
    <% posts.sort_by! { |post| post.date.to_date }.reverse! %>
    <% posts[0...9].each do |post| %>
      <li class="latest-posts-list__item">
        <h3 class="latest-posts-list__item-title">
          <%= link_to post.data.title, post.relative_url, class: "latest-posts-list__item-title" %>
        </h3>
        <time class="latest-posts-list__date" datetime="<%= post.date %>">
          <%= post.date.to_date %>
        </time>
      </li>
    <% end %>
  </ul>
  <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a coffee', 'var(--orange-4)', 'G2G710UKZL');kofiwidget2.draw();</script>
</section>


<section id="contact" class="card card--elsewhere">
  <h2 class="card__title card__title--elsewhere">Elsewhere</h2>
  <div class="card__content">
    <div class="tag-container">
      <a href="mailto://websitecontact.hush341@passmail.net" target="_blank" class="tag-container__tag tag-container__tag--social">Email me</a>
      <a href="https://social.lol/@ww" class="tag-container__tag--social tag-container__tag" target="_blank">Mastodon</a>
      <a href="https://www.linkedin.com/in/westley-winks" class="tag-container__tag--social tag-container__tag" target="_blank">LinkedIn</a>
      <a href="https://github.com/Westley-Winks" class="tag-container__tag--social tag-container__tag" target="_blank">GitHub</a>
      <a href="https://matrix.to/#/@ww:omg.lol" class="tag-container__tag--social tag-container__tag" target="_blank">Matrix</a>
      <a href="https://discourse.32bit.cafe/" class="tag-container__tag tag-container__tag--social">32-Bit Cafe</a>
      <a href="https://ww.omg.lol/" class="tag-container__tag tag-container__tag--social">omg.lol</a>
    </div>
  </div>
</section>

<section class="card card--tags">
  <h2 class="card__title card__title--tags">Browse tags</h2>
  <div class="card__content">
    <div class="tag-container">
      <% site.tags.keys.each do |tag| %>
        <%= link_to tag, "/t/#{tag}" , class: "tag-container__tag tag-container__tag--home" %>
          <% end %>
    </div>
</section>

<section class="card card--about">
  <h2 class="card__title card__title--about">Who am I?</h2>
  <div class="card__content">
    <p>
      My name is Westley Winks. I try to live my life with integrity by committing to these core values, even when it's uncomfortable:
    </p>
    <ul>
      <li>
        <strong>Learning humbly.</strong> Pursuing and practicing new skills and knowledge that serve my goals, my interests, and other people. Doing it humbly means embracing a beginner's mindset, admitting when I am wrong or don't know, and understanding that I can always learn something from others.
      </li>
      <li>
        <strong>Serving compassionately and reliably.</strong> Helping others, supporting them and nurturing their growth when and how <em>they</em> need it. Doing it compassionately means leading with empathy, taking care of myself, and remaining other-focused rather than transactional. Being reliable is continually building trust with myself and others that I will do what I say I'm going to do.
      </li>
      <li>
        <strong>Connecting authentically.</strong> Investing in meaningful relationships while participating in and adding value to important things that are larger than myself. Being authentic means choosing truth over performance, not sacrificing my values or identity to fit in, and being my true self in any engagement with myself or others.
      </li>
    </ul>
  </div>
</section>

<section class="card card--colophon">
  <div>
    <h2 class="card__title card__title--colophon">Colophon</h2>
      <%= markdownify do %>
        - [Alessandro Muraro](https://alexmuraro.me/) - design inspiration
        - [Bridgetown](https://bridgetown.com) - static site generator
        - [SCSS](https://sass-lang.com/) - styling
        - [Open Props](https://open-props.style/) - CSS variables
        - [Netlify](https://www.netlify.com/) - hosting
        <% end %>
  </div>
  <div class="badge-container">
    <a href="https://notbyai.fyi" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/not-by-ai.svg"
        alt="Written by Human, Not by AI"
      />
    </a>
    <a href="https://32bit.cafe/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/32bit-cafe-badge.png"
        alt="32-Bit Cafe Badge"
      />
    </a>
    <a href="https://ww.omg.lol/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/omglol-badge.png"
        alt="omg.lol"
      />
    </a>
    <a href="https://en.pronouns.page/he" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/pronouns-badge.png"
        alt="he/him"
      />
    </a>
    <a href="/feed.xml" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/feed-badge.gif"
        alt="Subscribe to RSS feed"
      />
    </a>
  </div>
</section>
