---
title: Westley Winks
layout: index
---

<section class="card latest">
  <h2 class="card__title">
    Latest posts
</h2>
  <a href="/feed.xml" class="icon-tabler-rss">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      <path d="M4 4a16 16 0 0 1 16 16" />
      <path d="M4 11a9 9 0 0 1 9 9" />
    </svg>
  </a>
  <ul class="latest-posts-list">
    <% posts=collections.b.resources + collections.p.resources + collections["peace-corps"].resources + [collections.w.resources.first] %>
    <% posts.sort_by! { |post| post.date.to_date }.reverse! %>
    <% posts[0...6].each do |post| %>
      <li class="latest-posts-list__item">
        <h3 class="latest-posts-list__item-title">
          <%= link_to post.data.title, post.relative_url, class: "latest-posts-list__item-title" %>
        </h3>
        <time class="latest-posts-list__date" datetime="<%= post.date %>">
          <%= post.date.to_date %>
        </time>
      </li>
    <% end %>
  </ul>
  <div class="kofi-container">
    <a class="kofi-button" href="https://ko-fi.com/wwinks">
      <span>
        <img alt="Ko-fi donations" src="/assets/kofi_symbol.png">
        Buy me a coffee
      </span>
    </a>
  </div>
</section>

<section class="card recent-links">
  <h2 class="card__title">Recent links</h2>
  <div class="card__content">
    <%= markdownify do %>
      - [How to think](https://cliophate.wtf/how-to-think) by Kevin aka cliophate. This basically summarized how I view AI these days. I rarely use it because I never want to delegate my thinking and learning to a machine. There are also some great practical tips for how to stimulate thinking.
      - [Thoughts on thinking](https://dcurt.is/thinking) by Dustin Curtis. Similar to the above, AI stymies thinking and creativity. It's a tool but can quickly become a crutch for one of the most amazing things we can do as humans.
      - [Your email can make someone happy](https://ohthesetrees.com/your-email-can-make-someone-happy/) by Kelly of Seattle. I love it when people email me about something I wrote!
      - [Cozy Garden](https://cozy-garden.puter.site/) by Andrew Wooldridge. A cute little idler gardening game.
      - [SMS 2FA is not just insecure, it's also hostile to mountain people](https://blog.stillgreenmoss.net/sms-2fa-is-not-just-insecure-its-also-hostile-to-mountain-people) by maren of Asheville. I experience the horrors of SMS verification in Morocco when I didn't have an American phone number. And now that I'm back and not using WhatsApp as my main communication tool, I'm remembering how awful SMS is. I think we've outgrown it.
      - [Malicious compliance by booking an available meeting room](https://www.clientserver.dev/p/malicious-compliance-by-booking-an) by Jacob Voytko. A fun story about 50-minute meeting policies.
      - [If nothing is curated, how do we find things?](https://tadaima.bearblog.dev/if-nothing-is-curated-how-do-we-find-things/) by Tadaima. With the rise of AI, I think human curation is going to become more and more important.
      - [The time for designers to learn to code is now](https://piccalil.li/blog/the-time-for-designers-to-learn-to-code-is-now/) by Andy Bell. I believe everyone should know some coding basics but especially designers who are working on the web.
      - [We need your support to do free projects for good causes and publish free high quality education](https://piccalil.li/blog/we-need-your-support-to-do-free-projects-for-good-causes-and-publish-free-high-quality-education/) by Andy Bell. An interesting shift in business model from for-profit to something more akin to a social enterprise. Excited to see how viable this is.
      - [Not everything is on the Internet](https://www.bruh.ltd/blog/not-everything-is-on-the-internet/) by Ruby Klover. The internet _is_ a vast expanse of information—but it doesn't comprise _all_ knowledge.
      - [Codigo: The programming language repository](https://codigolangs.com/). Basic information for pretty much every programming language with code samples and ratings for each.
      <% end %>
  </div>
</section>

<section id="contact" class="card elsewhere">
  <h2 class="card__title">Elsewhere</h2>
  <div class="card__content">
    <div class="tag-container">
      <a href="https://signal.me/#eu/p8gGgF-u3RiUKNbiiaFd7xwOGpLyHktakmV3Efy0WKQOKNrJ43ZCBbopuAhOFuKm" target="_blank" class="tag-container__tag tag-container__tag--social">Signal</a>
      <a href="mailto:westley.stood549@passmail.net" target="_blank" class="tag-container__tag tag-container__tag--social">Email</a>
      <a href="https://social.lol/@ww" class="tag-container__tag--social tag-container__tag" target="_blank">Mastodon</a>
      <a href="https://www.linkedin.com/in/westley-winks" class="tag-container__tag--social tag-container__tag" target="_blank">LinkedIn</a>
      <a href="https://github.com/Westley-Winks" class="tag-container__tag--social tag-container__tag" target="_blank">GitHub</a>
      <a href="https://matrix.to/#/@ww:omg.lol" class="tag-container__tag--social tag-container__tag" target="_blank">Matrix</a>
      <a href="https://discourse.32bit.cafe/" class="tag-container__tag tag-container__tag--social">32-Bit Cafe</a>
      <a href="https://ww.omg.lol/" class="tag-container__tag tag-container__tag--social">omg.lol</a>
    </div>
  </div>
</section>

<section class="card tags">
  <h2 class="card__title">Browse tags</h2>
  <div class="card__content">
    <div class="tag-container">
      <% site.tags.keys.each do |tag| %>
        <%= link_to tag, "/t/#{tag}" , class: "tag-container__tag tag-container__tag--home" %>
          <% end %>
    </div>
</section>

<section class="card about">
  <h2 class="card__title">Who am I?</h2>
  <div class="card__content">
    <p>
      My name is Westley Winks. I try to live my life with integrity by committing to these core values, even when it's uncomfortable:
    </p>
    <ul>
      <li>
        <strong>Learning humbly.</strong> Pursuing and practicing new skills and knowledge that serve my goals, my interests, and other people. Doing it humbly means embracing a beginner's mindset, admitting when I am wrong or don't know, and understanding that I can always learn something from others.
      </li>
      <li>
        <strong>Serving compassionately and reliably.</strong> Helping others, supporting them and nurturing their growth when and how <em>they</em> need it. Doing it compassionately means leading with empathy, taking care of myself, and remaining other-focused rather than transactional. Being reliable is continually building trust with myself and others that I will do what I say I'm going to do.
      </li>
      <li>
        <strong>Connecting authentically.</strong> Investing in meaningful relationships while participating in and adding value to important things that are larger than myself. Being authentic means choosing truth over performance, not sacrificing my values or identity to fit in, and being my true self in any engagement with myself or others.
      </li>
    </ul>
  </div>
</section>

<section class="card colophon">
  <div>
    <h2 class="card__title">Colophon</h2>
      <%= markdownify do %>
        - [Alessandro Muraro](https://alexmuraro.me/) - design inspiration
        - [Bridgetown](https://bridgetown.com) - static site generator
        - [SCSS](https://sass-lang.com/) - styling
        - [Open Props](https://open-props.style/) - CSS variables
        - [Netlify](https://www.netlify.com/) - hosting
        - [Zach Leatherman](https://github.com/zachleat/snow-fall/) - snow fall
        <% end %>
  </div>
  <div class="badge-container">
    <a href="https://notbyai.fyi" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/not-by-ai.svg"
        alt="Written by Human, Not by AI"
      />
    </a>
    <a href="https://32bit.cafe/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/32bit-cafe-badge.png"
        alt="32-Bit Cafe Badge"
      />
    </a>
    <a href="https://ww.omg.lol/" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/omglol-badge.png"
        alt="omg.lol"
      />
    </a>
    <a href="https://en.pronouns.page/he" target="_blank" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/pronouns-badge.png"
        alt="he/him"
      />
    </a>
    <a href="/feed.xml" class=""
      ><img class="badge"
        width="88" 
        height="31" 
        src="/assets/feed-badge.gif"
        alt="Subscribe to RSS feed"
      />
    </a>
  </div>
</section>
