@use "cv";
@use "article-toc";
@use "home";
@import "variables";
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i|syne:400,700);

html {
  font-size: 18px;
  scroll-padding: var(--size-fluid-2);
}

body {
  background: var(--gray-8);
  color: var(--gray-12);
  font-family: 'Atkinson Hyperlegible', var(--font-geometric-humanist);
  line-height: var(--font-lineheight-3);
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 var(--size-fluid-1);

  * {
    transition: transform 400ms var(--ease-spring-5);
  }
}

a {
  color: var(--gray-12);
  text-decoration: underline;

  &:not([class]), .footer__link, &.footnote, &.reversefootnote, &.internal-link {
    border: var(--border-size-1) dashed;
    border-radius: var(--radius-1);
    background: var(--red-2);
    padding: var(--border-size-1) var(--border-size-2);
    text-decoration: none;

    &:hover {
      background: var(--yellow-4);
      border: var(--border-size-1) solid;
      box-shadow: var(--size-1) var(--size-1) var(--gray-12);
      padding: var(--border-size-1) var(--border-size-2);
      text-decoration: none;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

:is(:not(pre) > code) {
  background: var(--gray-2);
  padding: var(--border-size-2) var(--border-size-1);
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne', var(--font-didone);
  margin-top: var(--size-3);
  text-align: left;
}

li {
  margin-top: var(--size-1);
}

blockquote {
  margin-top: var(--size-2);
  margin-bottom: var(--size-3);
  padding-block: var(--size-1);

  p {
    margin-top: 0;
  }
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

sup {
  font-size: var(--font-size-0);
}

p {
  margin-top: var(--size-2);
}

time {
  color: var(--gray-8);
}

main.page,
main.post {
  margin: 0 auto;
}

.card {
  background: var(--pink-4);
  border: var(--border-size-2) solid var(--gray-12);
  box-shadow: var(--size-1) var(--size-1) var(--gray-10);
  color: var(--gray-12);
  padding: var(--size-fluid-1);

  li,
  p {
    max-width: 100%;
  }

  @media (width < 768px) {
    grid-column: 1 / 3;
    grid-row: auto;
  }

  &--footer {
    background: var(--camo-4);
  }

  &--page {
    max-width: 1024px;
    margin: var(--size-fluid-2) auto;
  }

  &__title {
    background: var(--pink-2);
    border: var(--border-size-2) solid;
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    font-size: var(--font-size-fluid-2);
    margin: var(--size-fluid-1);
    max-width: var(--size-content-3);
    text-align: center;
  }

  &:hover,&:focus-within {
    box-shadow:
      var(--border-size-1) var(--border-size-1) var(--cyan-1),
      var(--border-size-2) var(--border-size-2) var(--yellow-4),
      var(--border-size-3) var(--border-size-3) var(--green-4),
      var(--border-size-4) var(--border-size-4) var(--orange-4);
    transform: translate(var(--size-00), var(--size-00));
  }
}

.latest-posts-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 var(--border-size-1);
  text-align: center;

  &__item {
    border-bottom: var(--border-size-1) dashed;
    flex: 1;
    max-width: unset;
  }

  &__item-title {
    text-align: center;
    color: var(--gray-12);
    font-size: var(--font-size-4);
    margin: var(--size-fluid-1) auto;
  }
}

.footer {
  font-size: var(--font-size-0);
  margin: 0 auto;
  max-width: var(--size-content-3);
  text-align: center;
}

.navbar {
  align-items: center;
  background: var(--purple-4);
  border: var(--border-size-2) solid;
  box-shadow: var(--size-1) var(--size-1) var(--gray-12);
  color: var(--gray-12);
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-fluid-1);
  justify-content: space-between;
  margin: var(--size-fluid-1) 0;
  padding: var(--size-fluid-1) var(--size-fluid-2);

  &__title {
    color: inherit;
    font-family: 'Syne', var(--font-didone);
    font-size: var(--font-size-fluid-3);
    font-weight: bold;
    line-height: var(--font-lineheight-0);
    margin: 0;
    text-decoration: none;
  }

  &__link {
    background: var(--camo-2);
    border: var(--border-size-1) solid;
    border-radius: var(--radius-3);
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    color: inherit;
    font-size: var(--font-size-fluid-1);
    padding: var(--size-1) var(--size-2);
    text-decoration: none;

    &:hover,&:focus {
      box-shadow: var(--size-2) var(--size-2) var(--gray-12);
      transform: translate(var(--size-00), var(--size-00));

      &:active {
        transform: none;
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(var(--size-1), var(--size-1));
    }
  }

  &__link-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-fluid-1);
    justify-content: right;
    margin-left: auto;
  }
}

.content-list {
  max-width: 1920px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 var(--border-size-1);
  text-align: center;

  $colors: red, orange, yellow, cyan, indigo, pink;
  $repeat: 20;

  @for $i from 1 through $repeat {
    $color: nth($colors, random(length($colors)));

    &__item:nth-child(#{length($colors)}n+#{$i}) {
      background: var(--#{$color}-4);

      .content-list__title {
        background: var(--#{$color}-2);
      }

      .tag-container__tag {
        background: var(--#{$color}-2);
      }
    }
  }

  &__author {
    color: var(--gray-8);
  }

  &__item {
    margin: var(--size-fluid-1) auto;
    max-width: 1024px;
  }

  &__title {
    font-size: var(--font-size-fluid-2);
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse wrap;
  }

  &__read-button {
    width: var(--size-fluid-6);
    background: var(--lime-4);
    text-align: center;
    border: var(--border-size-2) solid;
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);

    &:hover, &:focus {
      box-shadow: var(--size-2) var(--size-2) var(--gray-12);
      transform: translate(var(--size-00), var(--size-00));

      &:active {
        transform: none;
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(var(--size-1), var(--size-1));
    }
  }
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-fluid-1);
  justify-content: space-evenly;

  &__tag {
    background: var(--yellow-4);
    border-radius: var(--radius-round);
    border: var(--border-size-2) solid;
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    font-size: var(--font-size-2);
    padding: var(--size-1) var(--size-3);
    text-decoration: none;

    &--social {
      background: var(--choco-3);
    }

    &--home {
      background: var(--lime-4);
    }

    &:hover,&:focus {
      box-shadow: var(--size-2) var(--size-2) var(--gray-12);
      transform: translate(var(--size-00), var(--size-00));

        &:active {
          transform: none;
        }
      }
      &:active {
        box-shadow: none;
        transform: translate(var(--size-1), var(--size-1));
      }
  }

  &--post {
    max-width: var(--size-content-3);
    justify-content: left;
    margin: var(--size-fluid-2) auto;
  }
}

.post-nav-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: var(--size-fluid-2) auto;
  gap: var(--size-fluid-1);

  &__button {
    background: var(--cyan-4);
    text-align: center;
    border: var(--border-size-2) solid;
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    padding: var(--size-fluid-1) var(--size-fluid-2);
    flex: 1 1 0%;
    min-width: var(--size-fluid-9);

    &:hover,&:focus {
      box-shadow: var(--size-2) var(--size-2) var(--gray-12);
      transform: translate(var(--size-00), var(--size-00));

      &:active {
        transform: none;
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(var(--size-1), var(--size-1));
    }
  }
}

.post-engage {
  background: var(--violet-4);
  margin: var(--size-fluid-2) auto;
  max-width: var(--size-content-3);
  text-align: center;

  p {
    margin: var(--size-fluid-1) auto;
  }

  &__button-container {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-fluid-1);
    justify-content: space-evenly;
  }

  &__reply-button {
    background: var(--jungle-2) !important;
    border-radius: var(--radius-3);
    border: var(--border-size-2) solid;
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    display: inline-block;
    font-size: var(--font-size-1);
    line-height: 36px;
    min-width: var(--size-12);
    overflow-wrap: break-word;
    padding: var(--border-size-3) var(--size-1);
    text-align: center;
    text-decoration: none;

    &:hover,&:focus {
      box-shadow: var(--size-2) var(--size-2) var(--gray-12);
      transform: translate(var(--size-00), var(--size-00));

      &:active {
        transform: none;
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(var(--size-1), var(--size-1));
    }
  }

  &__title {
    background: var(--violet-2);
  }
}

.kofi-container {
  margin: var(--border-size-2) auto;
}

.kofi-button {
  background: var(--blue-2);
  border-radius: var(--radius-3);
  border: var(--border-size-2) solid;
  box-shadow: var(--size-1) var(--size-1) var(--gray-12);
  display: inline-block;
  font-size: var(--font-size-1);
  font-weight: bold;
  overflow-wrap: break-word;
  padding: var(--border-size-3) var(--size-1);
  text-align: center;
  text-decoration: none;

  span {
    text-align: center;
  }

  img {
    animation: var(--animation-pulse);
    display: inline;
    height: 25px;
    vertical-align: middle;
  }

  &:hover,&:focus-within {
    box-shadow: var(--size-2) var(--size-2) var(--gray-12);
    transform: translate(var(--size-00), var(--size-00));

    &:active {
      transform: none;
    }
  }
  &:active {
    box-shadow: none;
    transform: translate(var(--size-1), var(--size-1));
  }
}

.badge {
  &:hover,&:focus {
    border-radius: var(--radius-2);
    box-shadow: var(--size-2) var(--size-2) var(--gray-12);
    transform: translate(var(--size-00), var(--size-00));

      &:active {
        transform: none;
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(var(--size-1), var(--size-1));
  }
}

.badge-container {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-1);
  justify-content: space-around;
  margin: auto 0;
}

.icon-tabler-rss {
  border: var(--border-size-2) solid var(--gray-12);
  box-shadow: var(--border-size-1) var(--border-size-1) var(--gray-10);
  display: block;
  margin: 0 auto;
  stroke: var(--gray-12);

  &:hover,&:focus {
    background: var(--blue-4);
    box-shadow: var(--size-1) var(--size-1) var(--gray-12);
    transform: translate(calc(var(--border-size-1) * -1), calc(var(--border-size-1) * -1));

    &:active {
      transform: none;
    }
  }
  &:active {
    box-shadow: none;
    transform: translate(var(--size-1), var(--size-1));
  }
}
